@import '../../variables';

:host {
  display: block;

  .group-title {
    position: relative;
    display: flex;
    align-items: center;
    height: 48px;
    font-weight: 600;
    padding-left: 24px;
    margin-top: 8px;
    font-size: 12px;
    white-space: nowrap;
    text-transform: uppercase;
  }
}

.hint-text {
  font-size: 15px;
  font-weight: 700;
  color: $color-placeholder;
}

.separator {
  width: 230px;
  border-top: solid 1px $color-line;
}
